@model Product


<section style="padding-top: 150px">
    <div class="container">
        <div class="row">
        <div class="col-lg-5">
            <img src="@Model.PhotoUrl"  class="img-fluid"/>
        </div>
        <div class="col-lg-6">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <p>@Model.Price AZN</p>
            <button class="mt-4">ADD TO CART</button>
        </div>
    </div>
    </div>
</section>
<h1>Detail Product Page</h1>