<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Buten - Product Marketing Landing Page</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!--owl carousel css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
    <!--icofont css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/icofont.min.css">
    <!--magnific popup css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!--main css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>
<body>
    <!--start preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end preloader-->
    <!--start header-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg justify-content-center">
                <!--logo-->
                <a class="logo" href="#"><img src="/assets/images/logo.png" alt="logo"></a>
                <!--scroll logo-->
                <a class="logo-scroll" href="#"><img src="/assets/images/logo-scroll.png" alt="logo"></a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                        <span class="icofont-navigation-menu"></span>
                    </button>
                <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="2">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="3">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="4">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="5">Faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap buy-btn">
                        <li class="nav-item"><a class="nav-link" href="#product-area"><i class="icofont-cart-alt"></i> Buy Now</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--end header-->
        <main role="main">
            @RenderBody()
        </main>

    <footer id="footer">
        <div class="container">
            <div class="footer-social-icons text-center">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                </ul>
            </div>
            <p>Copy &copy; 2018. All Rights Reserved By <a href="http://themeforest.net/user/thememeta">thememeta</a></p>
        </div>
    </footer>
    <!--end footer-->
    <!--jQuery js-->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <!--proper js-->
    <script src="/assets/js/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--owl carousel js-->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!--magnific popUp js-->
    <script src="/assets/js/magnific-popup.min.js"></script>
    <!--scrollIt js-->
    <script src="/assets/js/scrollIt.min.js"></script>
    <!--contact js-->
    <script src="/assets/js/contact.js"></script>
    <!--validator js-->
    <script src="/assets/js/validator.min.js"></script>
    <!--main js-->
    <script src="/assets/js/custom.js"></script>
</body>
</html>
